#destination-show-page {
  display: grid;
  grid-template-columns: [full-start] 4rem [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 4rem [full-end]; // 1140px / 8 columns = 140px
  width: 100vw;
  gap: 3rem;

  .destination-show-page-top {
    grid-column: center-start / center-end;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5rem;
    border: 2px solid;
    border-radius: 1rem;
    background-color: $color-primary-yellow;
    color: $color-primary-blue;
    margin-top: 5rem;

    h1 {
      margin-right: 10rem;
      text-decoration: underline;
    }
  }

  h2 {
    margin-bottom: 2rem;
  }

  .destination-show-page-left {
    grid-column: center-start / col-start 5;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;

    .tasks-section {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-items: center;

      .tasks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f2e9ad;
        border: 2px $color-primary-yellow solid;
        border-radius: 2rem;
        padding: 2rem;
        list-style: none;
        min-height: 10rem;

        .wrapper {
          height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            overflow-y: auto;
        }

          p {
            color: black;
            font-size: 1.3rem;
          }
      }

      .task {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px $color-primary-yellow solid;
        background-color: #87cefa;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0.5rem 0;
        color: black;


        .task-info {
          text-align: left;
        }

        .task-actions {
          width: 15%;
          display: flex;
          flex-direction: column;
          margin-left: 1rem;


          a {
            position: relative;
            color: white;
            font-size: 2rem;
            text-align: center;
          }
        }
      }
    }

    .albums-section {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-items: center;

      .albums {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f2e9ad;
        border: 2px $color-primary-yellow solid;
        border-radius: 2rem;
        padding: 2rem;
        list-style: none;
        min-height: 10rem;

        .wrapper {
          height: 100%;
          overflow-x: hidden;
          overflow-y: scroll;
          overflow-y: auto;
        }

        p {
          color: black;
          font-size: 1.3rem;
          margin-bottom: 0;
        }
      }

      .album {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px $color-primary-yellow solid;
        background-color: #87cefa;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0.5rem 0;
        color: black;

        a:link {
          text-decoration: none;
          color: black;
          font-size: 1.5rem;
          font-weight: bold;
        }

        a:visited {
          color: black;
        }

        .album-info {
          width: 80%;
        }

        .album-actions {
          width: 15%;
          display: flex;
          margin-left: 1rem;
          flex-direction: column;

          a {
            color: white;
            font-size: 2rem;
            text-align: center;
          }
        }
      }
    }
  }

  .destination-show-page-right {
    grid-column: col-start 5 / full-end;
    height: 50vh;
    width: 80%;
    border: 5px $color-primary-yellow solid;
    border-radius: 3rem;
    margin-top: 5rem;

    .map {
      border-radius: 2.4rem;
      overflow: auto;
    }
  }

  .destination-show-page-bottom {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: center;
    align-content: center;

    button {
      margin: 0 2rem;
    }
  }
}
