// Specific CSS for your home-page

#home-page {
  display: grid;
  grid-template-rows: 90vh auto min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; // 1140px / 8 columns = 140px
}

.banner {
  grid-column: full-start / full-end;
  background-color: $color-primary-yellow;
  color: $color-primary-blue;
  margin: 1rem;
  padding: 4.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0,0,0,.3);

  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    margin-top: 12rem;
    margin-bottom: 18rem;
    margin-right: 4.5rem;

    .title-block {
      height: 16rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 4rem;
    }

    .sign-in {
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 6rem;
    }

    h1 {
      font-size: 5rem;
      font-weight: 800;
      text-align: left;
    }

    h2 {
      font-size: 3.5rem;
      font-weight: 800;
      text-align: left;
    }

    h3 {
      font-size: 2rem;
      font-weight: 800;
      text-align: left;
    }

    p {
      font-weight: 800;
      text-align: left;
    }
  }

  &__right {
    margin-top: 12rem;
    margin-bottom: 12rem;
    flex: 1;

    img {
      height: 100%;
      width: 100%;
      box-shadow: 0 15px 50px 20px rgba(51, 51, 79, 0.12);
      border-radius: 12px;
    }
  }
}

.features {
  grid-column: center-start / center-end;

  margin-top: 8rem;

  display: flex;
  flex-direction: column;

  .feature {
    margin: 4rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
      padding: 0 4rem;

      h1 {
        font-size: 3.5rem;
        padding-bottom: 2rem;
      }

      p {
        font-size: 1.5rem;
        padding-right: 10rem;
      }

    }

    &__image {
      justify-content: centre;
      img {
        height: 35rem;
        width: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
      }
    }
  }
}

.reviews {
  grid-column: center-start / center-end;
  margin: 10rem 0;

  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-gap: 6rem;
  justify-content: center;

  h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 7rem;
    }

  .review {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFDD0;

    color: black;
    border-radius: 1.5rem ;

    h5 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      padding: 0 1rem;
    }

    .image-cropper {
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }

    img {
      display: inline;
      margin: 0 auto;
      margin-left: -25%; //centers the image
      height: 100%;
      width: auto;
    }
  }
}
