// Specific CSS for your home-page

#home-page {
  display: grid;
  width: 100vw;
  grid-template-rows: auto min-content;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; // 1140px / 8 columns = 140px
  overflow: hidden;
}

.banner {
  grid-column: full-start / full-end;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content);
  height: 90vh;
  background-color: $color-primary-yellow;
  color: $color-primary-blue;
  margin: 1rem !important;
  padding: 4.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  align-items: center;

  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin-top: 12rem;
    margin-bottom: 18rem;
    margin-right: 4.5rem;

    .title-block {
      height: 16rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 4rem;
    }

    .sign-in {
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 6rem;
    }
  }

  &__right {
    width: 60%;
    margin: auto 0;

    img {
      max-height: 60%;
      max-width: 100%;
      box-shadow: 0 15px 50px 20px rgba(51, 51, 79, 0.12);
      border-radius: 12px;
    }
  }
}

.features {
  grid-column: center-start / center-end;

  margin-top: 8rem;

  display: flex;
  flex-direction: column;

  .feature {
    margin: 4rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
      padding: 0 4rem;

      h1 {
        font-size: 3.5rem;
        padding-bottom: 2rem;
      }

      p {
        font-size: 1.5rem;
        padding-right: 10rem;
      }

    }

    &__image {
      justify-content: centre;
      img {
        height: 35rem;
        width: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
      }
    }
  }
}

.review-section {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

    h1 {
      grid-column: 1 / -1;
      text-align: center;
      margin-bottom: 7rem;
      max-width: 80%;
      text-align: center;
      margin-bottom: 10rem;
    }
}

.reviews {

  display: flex;
  justify-content: center;
  width: 100%;



  .review {
    height: 25rem;
    width: 25rem;
    display: flex;
    margin: 0 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFDD0;

    color: black;
    border-radius: 1.5rem ;

    h5 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      padding: 0 1rem;
    }

    .image-cropper {
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }

    img {
      display: inline;
      margin: 0 auto;
      margin-left: -25%; //centers the image
      height: 100%;
      width: auto;
    }
  }
}
