#edit-task-page {
  display: grid;
  grid-template-rows: 90vh auto min-content;
  grid-template-columns: [full-start] 30% [center-start] 1fr [center-end] 30% [full-end];
  height: 92vh;
  align-items: center;

  .edit-task-form {
    max-height: 90vh;
    grid-column: center-start / center-end;
    background-color: $color-primary-yellow;
    box-shadow: #00000012 0px 1px 3px, #00000024 0px 1px 2px;
    border-radius: 12px;
    padding: 3rem !important;

    .form-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h1 {
        color: $color-primary-blue;
        text-decoration: underline;
        font-family: 'Bebas Neue', cursive;
        font-size: 3.6rem;
        text-align: center;
        margin: 2rem;
      }

      form {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
      }

      textarea {
        height: 12rem;
        font-size: 1.4rem;
      }

      label {
        font-size: 1.4rem;
        color: $color-primary-blue;
      }

      .labelText {
        font-weight: 300;
        font-size: 1.4rem;
        color: $color-primary-blue;
        margin-left: 1rem;
      }

      input {
        width: 100%;
        border-radius: 2px;
        outline-width: 0px !important;
        background-color: #f7f7f8;
        font-size: 1.5rem;

        &:focus {
          border: 3px solid $color-primary-blue;
          outline-width: 0px !important;
          box-shadow: none;
        }
      }

      input[type=submit] {
        margin: 2rem auto;
        height: 4rem;
        width: 20rem;
        background-color: $color-primary-blue;
        color: white;
        border-radius: 8px;
        border: none;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.6rem;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }
      }

      .return {
        width: 50%;
        align-self: center;
        margin: 2rem;
      }
    }
  }
}
