
<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer__heading"><a href="#" class="logo">travellist</a></h2>
        <p class="menu">
          <a href="#">Home</a>
          <a href="#">Agent</a>
          <a href="#">About</a>
          <a href="#">Listing</a>
          <a href="#">Blog</a>
          <a href="#">Contact</a>
        </p>
        <div class="socials">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <p class="copyright">Travellist © 2022</p>
        </div>
      </div>
    </div>
  </div>
</footer>
