<div id="about-page">
  <div class="container">
    <h2 class="heading"><a href="/">travellist</a></h2>
    <div class="about-content">
      <div class="about-left">
        <h1>A little about us . . . </h1>
        <p>Initially founded in early 2022, being an avid traveller, Chris wanted to take a lot of the pain out of planning and organising for his travels.
        He also wanted a simple way to be able to track the locations he has been to as well as the locations he still wants to see. And therefore, travellist was created! We have
        now grown to a small of 7 members so far and are still growing. Be sure to check out our services and keep an eye out for new features in the near
        future!</p>
      </div>
      <div class="about-right">
          <%= image_tag("about.jpg") %>
      </div>
    </div>
  </div>
</div>
