<div id="contact-page">
  <div class="container">
    <h2 class="heading"><a href="/">travellist</a></h2>
    <div class="contact-content">
      <div class="contact-left">
        <h1>Please feel free to contact us regarding our services. We always welcome customer feedback also! </h1>
        <h3>Office: 21 Nunya Buniss Road, London, E31DT</h3>
        <h3>Email: chriswhunter89@gmail.com</h3>
        <h3>Phone: +44 7493 934871</h3>
      </div>
      <div class="contact-right">
          <%= image_tag("contact.jpg") %>
      </div>
    </div>
  </div>
</div>
