<div id="contact-page">
  <div class="container">
    <div class="contact-content">
      <div class="contact-left">
        <h1>Please feel free to contact us regarding our services. We always welcome customer feedback also! </h1>
        <h2>Office:</h2>
        <p>21 Nunya Buniss Road, London, E31DT</p>
        <h2>Email:</h2>
        <p>heya@travellist.com</p>
        <h2>Phone:</h2>
        <p>+44 7900 281619</p>
      </div>
      <div class="contact-right">
          <%= image_tag("contact.jpg") %>
      </div>
    </div>
  </div>
</div>
