.footer{
  padding: 7rem 0;
  background: #121212;

  &__heading{
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;

    .logo{
      color: white;
    }
  }

  a{
    color: white;
    &:hover,
    &:focus {
      text-decoration: none !important;
      outline: none !important;
    }
  }
  p{
    color: rgba(255,255,255,.3);
  }

  .menu{
    margin-bottom: 30px;
    a{
      color: white;
      margin: 0 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;

    transition: .3s all ease;
      &:hover, &:focus {
        text-decoration: none !important;
        outline: none !important;
      }
    }
  }
  h2 {
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 5rem;
  }

  .socials {
    a {
      color: white;
      padding-bottom: 2rem;
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      margin-left: 10px;
      margin-top: 22px;
      opacity: 0.75;
    }

  &:hover,
  &:focus {
      opacity: 0.9;
    }
  }
}
