.mapboxgl-popup {
  max-width: 15rem;
}

.mapboxgl-popup-content {
  width: fit-content;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border-radius: 2rem;
  border: 2px $color-primary-yellow solid;
  background-color: $color-primary-blue;
}
