<h1>destination</h1>
<%= @destination.name %>

<ul>
  <% @destination.tasks.each do |task| %>
    <li><%= task.title %></li>
  <% end %>
</ul>
<p><%= link_to "Add a new task", new_task_path, class: "btn btn-primary blue-btn"%></p>
<p><%= link_to "Return to dashboard", authenticated_root_path, class: "btn btn-primary blue-btn"%></p>
