// IMPORTS
// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "users/signup";
@import "users/login";
@import "users/show";
@import "components/map";
@import "destinations/new";
@import "destinations/show";
@import "destinations/edit";
@import "tasks/new";
@import "tasks/edit";
@import "albums/show";
@import "albums/new";
@import "albums/edit";


// RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px / 16px
$bp-large: 62.5em; // 1000px / 16px
$bp-medium: 50em; // 800px / 16px
$bp-small: 37.5em; // 600px / 16px

//Universal properties

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box; // borders set inclusive of total specified height and width
  font-size: 62.5%; //1rem = 10px (10px/16px = 62.5%)

  @media only screen and (max-width: $bp-largest) {
    font-size: 60%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 40%;
  }
}

body {
  background-color: $color-primary-blue;
  color: $color-primary-yellow;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

.a-primary {
  font-size: 1.2rem;
}
