#login-page {
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: [full-start] 10% [center-start]  1fr [center-end] 10% [full-end]; // 1140px / 8 columns = 140px
  height: 80vh;

  .login-form {
    margin-top: 12rem;
    grid-column: center-start / center-end;
    background-color: $color-primary-yellow;
    box-shadow: #00000012 0px 1px 3px, #00000024 0px 1px 2px;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .heading {
      display: flex;
      width: 100%;
      justify-content: center;
      color: #1789FC;
      text-decoration: underline;
      font-family: 'Bebas Neue', cursive;
      font-size: 36px;
      text-align: center;

      :hover {
        color: #1789FC;
      }
    }

    .form-content {
      display: flex;
      width: 100%;
      justify-content: space-around;

      &__left {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        img {
          height: 30rem;
          width: auto;
          box-shadow: 0 0 20px rgba(0, 0, 0, .3);
        }
      }

      &__right {
        width: 30%;
        justify-content: center;
        margin-bottom: 8rem;

        h2 {
          text-align: center;
          color: $color-primary-blue;
          font-size: 24px;
          font-family: Inter, sans-serif;
          font-weight: 300;
          margin-bottom: 8px;
        }

        label {
          font-weight: 300;
          font-size: 14px;
          margin-bottom: 8px;
          color: $color-primary-blue;
        }

        input {
          border-radius: 8px;
          outline-width: 0px !important;
          background-color: #f7f7f8;
          font-size: 1.5rem;

          &:focus {
            border: 3px solid $color-primary-blue;
            outline-width: 0px !important;
            box-shadow: none;
          }
        }

        .form-sign-up-btn {
          margin: 1rem 0;
          height: 40px;
          width: 200px;
          background-color: $color-primary-blue;
          color: white;
          border-radius: 8px;
          border: none;

          a {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
          }

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

            &::after {
              transform: scaleX(1.4) scaleY(1.6);
              opacity: 0;
            }
          }
        }
      }
    }

    a.forgot {
      font-size: 1.2rem;
      text-decoration: none;
    }

    a.signup {
      text-decoration: none;
      border: 1px grey solid;
      border-radius: 0.5rem;
      padding: .5rem;
      color: grey;


    }
  }
        p {
          color: grey;
          font-size: 1.2rem;
        }
}
