#new-album-page {
  display: grid;
  grid-template-rows: 90vh auto min-content;
  grid-template-columns: [full-start] 30% [center-start] 1fr [center-end] 30% [full-end];
  height: 92vh;
  align-items: center;

  .new-album-form {
    height: 60vh;
    grid-column: center-start / center-end;
    background-color: $color-primary-yellow;
    box-shadow: #00000012 0px 1px 3px, #00000024 0px 1px 2px;
    border-radius: 12px;
    padding: 5rem !important;

    .form-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h1 {
        bottom: 5rem;
        color: $color-primary-blue;
        text-decoration: underline;
        font-family: 'Bebas Neue', cursive;
        font-size: 36px;
      }

      form {
        height: 80%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      textarea {
        height: 10rem;
        font-size: 1.4rem;
      }

      h2 {
        position: relative;
        left: 40%;
        color: $color-primary-blue;
        font-size: 24px;
        font-family: Inter, sans-serif;
        font-weight: 300;
        margin-bottom: 8px;
      }

      label {
        display: flex;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 8px;
        color: $color-primary-blue;
        align-items: center;
      }

      .labelText {
        font-weight: 300;
        font-size: 14px;
        color: $color-primary-blue;
        margin-left: 1rem;
      }

      input:not([type=checkbox]) {
        width: 100%;
        height: 3rem;
        border-radius: 2px;
        outline-width: 0px !important;
        background-color: #f7f7f8;
        font-size: 1.5rem;

        &:focus {
          border: 3px solid $color-primary-blue;
          outline-width: 0px !important;
          box-shadow: none;
        }
      }

      input[type=submit] {
        margin: 3rem auto;
        height: 40px;
        width: 200px;
        background-color: $color-primary-blue;
        color: white;
        border-radius: 8px;
        border: none;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.6rem;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }
      }


      .login-btn {
        background-color: #f7f7f8;
        color: #6C757D;
        width: 100px;
        margin: 8px auto;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        text-decoration: none;

        &:hover {
          background-color: blue;
          color: white;
        }
      }
    }
  }
}
